
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'MyWebFont';
  src: url('../NixieOne.ttf') format('truetype');
}

/*
main styles
*/

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  background-size: 100%;
  background-position: 50%;
  font-family: "Montserrat"

}


.App{
  position: relative;
  width: 100%;
  height: 100vh;
}
