@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
  font-family: "MyWebFont";
  src: url("../NixieOne.ttf") format("truetype");
}

.font {
  font-family: "Montserrat";
  font-weight: 1000;
  font-size: 120px;
  padding-bottom: 100px;
  color: rgba(0, 0, 0, 0.8);
}



.profile {
  width: 200px;
  border-radius: 50%;
  margin-left: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


.wrapper {
  opacity: 1;
  text-align: center;
  width: 100%;
  margin: auto;
  background: rgb(238, 238, 238);
  position: absolute;
  bottom: 0px;
}

/* Profile Image */
/*****************/

.small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*Small image */

.smallImageContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAME */
/********/

.underline {
  height: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -10px;
}



/* SKILLS */



.skillHead {
  font-family: "Montserrat";
  font-weight: 1000;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}


/* CONTENT */

.content {
  height: 1400px;
  background: rgb(241, 241, 241);
  position: relative;
}

/* SKILLS IMAGES */

.skillsContent {
  position: relative;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.iconContainer {
  transition-property: transform, filter;
  transition-duration: 0.2s, 0.6s;
}

.skillImage {
  width: 80px;
}

/*Projects */

.projectHeader {
  display: block;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 1000;
  text-align: center;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.project {
  border-radius: 5px;
  display: "flex";
  justify-content: flex-start;
  align-items: flex-start;
}

.projectTextInfo {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.projectName{
  transition: all 0.4s;
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.8);
  margin:0;
  padding:5px;
  border-radius:5px 5px 0 0;
}



/* CV Transition*/
/************/

.showCv-enter {
  height: 0;
}

.showCv-active {
  opacity: 1;
  height: 80%;
  transition: height 500ms ease-in-out, opacity 500ms;
}

.showCv-enter-done {
  opacity: 1;
  height: 80%;
  transition: height 500ms ease-in-out, opacity 500ms;
}

.showCv-exit {
  opacity: 1;
  height: 150%;
}
.showCv-exit-active {
  height: 0;

  transition: height 500ms ease-in;
}

.showCv-exit-done {
  height: 0;
  display: none;
}
