.wrapper {
  opacity: 1;
  text-align: center;
  width: 100%;
  margin: auto;
  background: rgb(238, 238, 238);
  position: absolute;
  bottom: 0px;
}

/* Profile Image */
/*****************/
.imageWrapper {
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 2;
}

.profile {
  width: 100%;
  height: 70px;
  position: relative;
  top: -70px;
}

.profileFixed {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  /* box-shadow: 0 10px 30px -10px rgba(255, 255, 255, 0.6); */
}

.animateProfile-enter {
  left: 50%;
}

.animateProfile-active {
  left: 50%;
  transition: left 200ms ease-in-out;
}

.animateProfile-enter-done {
  left: 90%;
  transition: left 200ms ease-in-out;
}

.animateProfile-exit {
  left: 90%;
}
.animateProfile-exit-active {
  left: 50%;

  transition: left 200ms ease-in-out;
}

.animateProfile-exit-done {
  left: 50%;
}

.animateImage-enter {
  transform: scale(1);
}

.animateImage-active {
  transform: scale(0.6);
  transition: transform 200ms ease-in-out;
}

.animateImage-enter-done {
  transform: scale(0.6);
  transition: transform 200ms ease-in-out;
}

.animateImage-exit {
  transform: scale(0.6);
}
.animateImage-exit-active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.animateImage-exit-done {
  transform: scale(1);
}

.animateTop-enter {
  top: -70px;
}

.animateTop-active {
  top: -140px;
  transition: top 200ms ease-in-out;
}

.animateTop-enter-done {
  top: -140px;
  transition: top 200ms ease-in-out;
}

/* NAME */
/********/

.name {
  position: absolute;
  left: 20px;
  top: -40px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.underline {
  height: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -10px;
}

/* PROGRESS BAR */

.meter {
  height: 5px;
  position: relative;
  margin-bottom: 7px;
}

.meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}

.meter > span#progressbar1 {
  background-color: rgba(14, 63, 27, 0.863);
}

.meter > span#progressbar2 {
  background-color: #53341fdc;
}

.meter > span#progressbar3 {
  background-color: rgba(92, 56, 58, 0.863);
}

.meter > span#progressbar4 {
  background-color: #4b3843d5;
}

.meter > span#progressbar5 {
  background-color: #3a5052da;
}
.meter > span#progressbar6 {
  background-color: #696852d8;
}
.meter > span#progressbar7 {
  background-color: #664343d7;
}
.meter > span#progressbar8 {
  background-color: #6e6c2ad8;
}

/* SKILLS */

.skill {
  position: absolute;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}



/* CV Transition*/
/************/

.showCv-enter {
  height: 0;
}

.showCv-active {
  opacity: 1;
  height: 80%;
  transition: height 500ms ease-in-out, opacity 500ms;
}

.showCv-enter-done {
  opacity: 1;
  height: 80%;
  transition: height 500ms ease-in-out, opacity 500ms;
}

.showCv-exit {
  opacity: 1;
  height: 150%;
}
.showCv-exit-active {
  height: 0;

  transition: height 500ms ease-in;
}

.showCv-exit-done {
  height: 0;
  display: none;
}
